In [1]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [3]:
game_data = pd.read_csv("../Resources/gamedata_clean.csv")
game_data.head()

,schedule_season,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium
0,2000,ATL,36,28,SF,ATL,-6.5,46.5,Georgia Dome
1,2000,BUF,16,13,TEN,BUF,-1.0,40.0,New Era Field
2,2000,CLE,7,27,JAX,JAX,-10.5,38.5,FirstEnergy Stadium
3,2000,DAL,14,41,PHI,DAL,-6.0,39.5,Texas Stadium
4,2000,GB,16,20,NYJ,GB,-2.5,44.0,Lambeau Field

In [4]:
game_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5061 entries, 0 to 5060
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   schedule_season   5061 non-null   int64
 1   team_home         5061 non-null   object
 2   score_home        5061 non-null   int64
 3   score_away        5061 non-null   int64
 4   team_away         5061 non-null   object
 5   team_favorite_id  5061 non-null   object
 6   spread_favorite   5061 non-null   float64
 7   over_under_line   5061 non-null   float64
 8   stadium           5061 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 356.0+ KB

In [5]:
teams = pd.read_csv("../Resources/teams_clean.csv")
teams.head()

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
2,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central
3,Buffalo Bills,Bills,BUF,BUF,AFC,AFC East,AFC,AFC East
4,Carolina Panthers,Panthers,CAR,CAR,NFC,NFC South,NFC,NFC West

In [6]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   team_name                34 non-null     object
 1   team_name_short          34 non-null     object
 2   team_id                  34 non-null     object
 3   team_id_pfr              34 non-null     object
 4   team_conference          34 non-null     object
 5   team_division            33 non-null     object
 6   team_conference_pre2002  34 non-null     object
 7   team_division_pre2002    33 non-null     object
dtypes: object(8)
memory usage: 2.2+ KB