In [1]:
import pandas as pd

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_weather_type,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,Acrisure Stadium,"Pittsburgh, PA",2001.0,NaN,outdoor,"100 Art Rooney Ave, Pittsburgh, PA 15212",15212,cold,"65,500",Grass,USW00094823,"PITTSBURGH ASOS, PA US",40.4846,-80.2144,366.7
1,Alamo Dome,"San Antonio, TX",NaN,NaN,indoor,"100 Montana St, San Antonio, TX 78203",78203,dome,72000,FieldTurf,NaN,NaN,NaN,NaN,NaN
2,Allegiant Stadium,"Paradise, NV",2020.0,NaN,indoor,NaN,NaN,dome,65000,Grass,NaN,NaN,NaN,NaN,NaN
3,Allianz Arena,"Munich, Germany",NaN,NaN,outdoor,NaN,NaN,moderate,"75,024",Grass,NaN,NaN,NaN,NaN,NaN
4,Alltel Stadium,"Jacksonville, FL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118 entries, 0 to 117
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   stadium_name                  118 non-null    object
 1   stadium_location              116 non-null    object
 2   stadium_open                  89 non-null     float64
 3   stadium_close                 41 non-null     float64
 4   stadium_type                  107 non-null    object
 5   stadium_address               101 non-null    object
 6   stadium_weather_station_code  100 non-null    object
 7   stadium_weather_type          107 non-null    object
 8   stadium_capacity              53 non-null     object
 9   stadium_surface               67 non-null     object
 10  STATION                       61 non-null     object
 11  NAME                          61 non-null     object
 12  LATITUDE                      61 non-null     float64
 13  LONGITUDE                     61 non-null     float64
 14  ELEVATION                     61 non-null     float64
dtypes: float64(5), object(10)
memory usage: 14.0+ KB

In [32]:
df2 = pd.read_csv("../Resources/nfl_teams.csv", encoding="unicode_escape")
df2

,team_name,team_name_short,team_id,team_id_pfr,team_conference,team_division,team_conference_pre2002,team_division_pre2002
0,Arizona Cardinals,Cardinals,ARI,CRD,NFC,NFC West,NFC,NFC West
1,Atlanta Falcons,Falcons,ATL,ATL,NFC,NFC South,NFC,NFC West
2,Baltimore Colts,Colts,IND,CLT,AFC,NaN,AFC,AFC East
3,Baltimore Ravens,Ravens,BAL,RAV,AFC,AFC North,AFC,AFC Central
4,Boston Patriots,Patriots,NE,NWE,AFC,NaN,AFC,NaN
5,Buffalo Bills,Bills,BUF,BUF,AFC,AFC East,AFC,AFC East
6,Carolina Panthers,Panthers,CAR,CAR,NFC,NFC South,NFC,NFC West
7,Chicago Bears,Bears,CHI,CHI,NFC,NFC North,NFC,NFC Central
8,Cincinnati Bengals,Bengals,CIN,CIN,AFC,AFC North,AFC,AFC Central
9,Cleveland Browns,Browns,CLE,CLE,AFC,AFC North,AFC,AFC Central
10,Dallas Cowboys,Cowboys,DAL,DAL,NFC,NFC East,NFC,NFC East
11,Denver Broncos,Broncos,DEN,DEN,AFC,AFC West,AFC,AFC West
12,Detroit Lions,Lions,DET,DET,NFC,NFC North,NFC,NFC Central
13,Green Bay Packers,Packers,GB,GNB,NFC,NFC North,NFC,NFC Central
14,Houston Oilers,Oilers,TEN,OTI,AFC,NaN,AFC,AFC Central
15,Houston Texans,Texans,HOU,HTX,AFC,AFC South,AFC,NaN
16,Indianapolis Colts,Colts,IND,CLT,AFC,AFC South,AFC,AFC East
17,Jacksonville Jaguars,Jaguars,JAX,JAX,AFC,AFC South,AFC,AFC Central
18,Kansas City Chiefs,Chiefs,KC,KAN,AFC,AFC West,AFC,AFC West
19,Las Vegas Raiders,Raiders,LVR,RAI,AFC,NaN,AFC,AFC West
20,Los Angeles Chargers,Chargers,LAC,SDG,AFC,AFC West,AFC,AFC West
21,Los Angeles Raiders,Raiders,LVR,RAI,AFC,NaN,AFC,AFC West
22,Los Angeles Rams,Rams,LAR,RAM,NFC,NFC West,NFC,NFC West
23,Miami Dolphins,Dolphins,MIA,MIA,AFC,AFC East,AFC,AFC East
24,Minnesota Vikings,Vikings,MIN,MIN,NFC,NFC North,NFC,NFC Central
25,New England Patriots,Patriots,NE,NWE,AFC,AFC East,AFC,AFC East
26,New Orleans Saints,Saints,NO,NOR,NFC,NFC South,NFC,NFC West
27,New York Giants,Giants,NYG,NYG,NFC,NFC East,NFC,NFC East
28,New York Jets,Jets,NYJ,NYJ,NFC,AFC East,NFC,AFC East
29,Oakland Raiders,Raiders,LVR,RAI,AFC,AFC West,AFC,AFC West
30,Philadelphia Eagles,Eagles,PHI,PHI,NFC,NFC East,NFC,NFC East
31,Phoenix Cardinals,Cardinals,ARI,CRD,NFC,NaN,NFC,NFC East
32,Pittsburgh Steelers,Steelers,PIT,PIT,AFC,AFC North,AFC,AFC Central
33,San Diego Chargers,Chargers,LAC,SDG,AFC,AFC West,AFC,AFC West
34,San Francisco 49ers,49ers,SF,SFO,NFC,NFC West,NFC,NFC West
35,Seattle Seahawks,Seahawks,SEA,SEA,NFC,NFC West,AFC,AFC West
36,St. Louis Cardinals,Cardinals,ARI,ARI,NFC,NaN,NFC,NFC East
37,St. Louis Rams,Rams,LAR,RAM,NFC,NaN,NFC,NFC West
38,Tampa Bay Buccaneers,Buccaneers,TB,TAM,NFC,NFC South,NFC,NFC Central
39,Tennessee Oilers,Oilers,TEN,OTI,AFC,NaN,AFC,AFC Central
40,Tennessee Titans,Titans,TEN,OTI,AFC,AFC South,AFC,AFC Central
41,Washington Commanders,Washington,WAS,WAS,NFC,NFC East,NFC,NFC East
42,Washington Football Team,Washington,WAS,WAS,NFC,NFC East,NFC,NFC East
43,Washington Redskins,Washington,WAS,WAS,NFC,NFC East,NFC,NFC East

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   team_name                44 non-null     object
 1   team_name_short          44 non-null     object
 2   team_id                  44 non-null     object
 3   team_id_pfr              44 non-null     object
 4   team_conference          44 non-null     object
 5   team_division            35 non-null     object
 6   team_conference_pre2002  44 non-null     object
 7   team_division_pre2002    42 non-null     object
dtypes: object(8)
memory usage: 2.9+ KB

In [34]:
df3 = pd.read_csv("../Resources/spreadspoke_scores.csv", encoding="unicode_escape")
mask = (df3.schedule_season > 1999) & (df3.schedule_season < 2020) & (df3.team_favorite_id == "LAC")
df3 = df3.loc[mask].reset_index(drop=True)
df3.head()

,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,9/10/2000,2000,2,False,San Diego Chargers,27.0,28.0,New Orleans Saints,LAC,-5.5,35.5,Qualcomm Stadium,False,67.0,7.0,78.0,NaN
1,9/9/2001,2001,1,False,San Diego Chargers,30.0,3.0,Washington Redskins,LAC,-2.5,36.5,Qualcomm Stadium,False,66.0,9.0,88.0,NaN
2,9/23/2001,2001,2,False,Dallas Cowboys,21.0,32.0,San Diego Chargers,LAC,-3.5,34,Texas Stadium,False,76.0,7.0,80.0,NaN
3,9/30/2001,2001,3,False,San Diego Chargers,28.0,14.0,Cincinnati Bengals,LAC,-6.5,39,Qualcomm Stadium,False,66.0,6.0,90.0,NaN
4,10/7/2001,2001,4,False,Cleveland Browns,20.0,16.0,San Diego Chargers,LAC,-3.0,35,FirstEnergy Stadium,False,44.0,14.0,52.0,NaN

In [30]:
df = pd.read_csv("../Resources/nfl_stadiums.csv", encoding="unicode_escape")
df

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_weather_type,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
0,Acrisure Stadium,"Pittsburgh, PA",2001.0,NaN,outdoor,"100 Art Rooney Ave, Pittsburgh, PA 15212",15212,cold,"65,500",Grass,USW00094823,"PITTSBURGH ASOS, PA US",40.4846,-80.2144,366.7
1,Alamo Dome,"San Antonio, TX",NaN,NaN,indoor,"100 Montana St, San Antonio, TX 78203",78203,dome,72000,FieldTurf,NaN,NaN,NaN,NaN,NaN
2,Allegiant Stadium,"Paradise, NV",2020.0,NaN,indoor,NaN,NaN,dome,65000,Grass,NaN,NaN,NaN,NaN,NaN
3,Allianz Arena,"Munich, Germany",NaN,NaN,outdoor,NaN,NaN,moderate,"75,024",Grass,NaN,NaN,NaN,NaN,NaN
4,Alltel Stadium,"Jacksonville, FL",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,War Memorial Stadium,"Buffalo, NY",1960.0,1972.0,outdoor,"285 Dodge Street, Buffalo, NY 14208",14208,cold,NaN,NaN,NaN,NaN,NaN,NaN,NaN
114,Wembley Stadium,"London, UK",2007.0,NaN,outdoor,"Wembley, London HA9 0WS, United Kingdom","Heathrow, UK",moderate,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,Wrigley Field,"Chicago, IL",1920.0,1970.0,outdoor,"1060 West Addison Street, Chicago, IL 60613",60613,cold,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,Yale Bowl,"New Haven, CT",NaN,NaN,outdoor,"276 Derby Ave, West Haven, CT 06516",6516,cold,NaN,Grass,NaN,NaN,NaN,NaN,NaN
117,Yankee Stadium,"Bronx, NY",NaN,NaN,outdoor,NaN,NaN,cold,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df4 = df.loc[df.stadium_name.isin(df3.stadium)].reset_index(drop=True)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68 entries, 0 to 67
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   stadium_name                  68 non-null     object
 1   stadium_location              68 non-null     object
 2   stadium_open                  62 non-null     float64
 3   stadium_close                 24 non-null     float64
 4   stadium_type                  64 non-null     object
 5   stadium_address               63 non-null     object
 6   stadium_weather_station_code  62 non-null     object
 7   stadium_weather_type          64 non-null     object
 8   stadium_capacity              40 non-null     object
 9   stadium_surface               40 non-null     object
 10  STATION                       45 non-null     object
 11  NAME                          45 non-null     object
 12  LATITUDE                      45 non-null     float64
 13  LONGITUDE                     45 non-null     float64
 14  ELEVATION                     45 non-null     float64
dtypes: float64(5), object(10)
memory usage: 8.1+ KB

In [24]:
df4.stadium_location.value_counts()

London, UK             4
Minneapolis, MN        4
Seattle, WA            3
Jacksonville, FL       3
Foxborough, MA         2
Atlanta, GA            2
Houston, TX            2
Indianapolis, IN       2
Nashville, TN          2
New Orleans, LA        2
Los Angeles, CA        2
Philadelphia, PA       2
Pittsburgh, PA         2
Miami Gardens, FL      2
East Rutherford, NJ    2
Orchard Park, NY       2
Denver, CO             2
Cincinnati, OH         2
Arlington, TX          2
Pontiac, MI            1
San Diego, CA          1
Tampa, FL              1
Oakland, CA            1
Toronto, Canada        1
Chicago, IL            1
Tempe, AZ              1
Irving, TX             1
Baton Rouge, LA        1
San Antonio, TX        1
Santa Clara, CA        1
Champaign, IL          1
Baltimore, MD          1
Green Bay, WI          1
Detroit, MI            1
Cleveland, OH          1
Landover, MD           1
Mexico City, Mexico    1
St. Louis, MO          1
Miami, FL              1
San Francisco, CA      1
Charlotte, NC          1
Kansas City, MO        1
Glendale, AZ           1
Name: stadium_location, dtype: int64

In [26]:
df5 = df4.loc[df4.stadium_location == "London, UK"]
df5

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_weather_type,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
61,Tottenham Hotspur Stadium,"London, UK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Tottenham Stadium,"London, UK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Twickenham Stadium,"London, UK",1909.0,NaN,outdoor,"200 Whitton Road, TW2 7BA, London, UK",NaN,moderate,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Wembley Stadium,"London, UK",2007.0,NaN,outdoor,"Wembley, London HA9 0WS, United Kingdom","Heathrow, UK",moderate,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df4.drop(index=62)
df5 = df4.loc[df4.stadium_location == "London, UK"]
df5

,stadium_name,stadium_location,stadium_open,stadium_close,stadium_type,stadium_address,stadium_weather_station_code,stadium_weather_type,stadium_capacity,stadium_surface,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION
61,Tottenham Hotspur Stadium,"London, UK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Tottenham Stadium,"London, UK",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,Twickenham Stadium,"London, UK",1909.0,NaN,outdoor,"200 Whitton Road, TW2 7BA, London, UK",NaN,moderate,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Wembley Stadium,"London, UK",2007.0,NaN,outdoor,"Wembley, London HA9 0WS, United Kingdom","Heathrow, UK",moderate,NaN,NaN,NaN,NaN,NaN,NaN,NaN